In [1]:
%matplotlib inline
import pandas as pd

In [4]:
purchases = pd.read_csv("../data/treated/december_purchases_clean.csv")

## General Vision

In [5]:
purchases.dtypes

Unnamed: 0        int64
NUM BEN           int64
BENEFICIARIO     object
RFC              object
FACTURA          object
CONTRATO         object
CONCEPTO         object
TIPO             object
# OP            float64
FECHA            object
IMPORTE         float64
dtype: object

In [6]:
purchases.describe()

        Unnamed: 0        NUM BEN          # OP       IMPORTE
count  1540.000000    1540.000000  1.540000e+03  1.540000e+03
mean    373.585714  203914.777273  1.920050e+08  6.263179e+05
std     246.188668   92435.932025  1.411189e+08  4.666912e+06
min       0.000000  110152.000000  1.019042e+06  8.600000e-01
25%     142.750000  116223.000000  1.019144e+06  2.987000e+03
50%     373.500000  203013.000000  2.980000e+08  1.235584e+04
75%     583.000000  311250.000000  3.000001e+08  1.130583e+05
max     812.000000  370012.000000  6.040001e+08  1.267303e+08

In [ ]:
purcha